@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h5 class="display-4">Sorry @User.Identity.Name, you're not authorized</h5>
    <a href="/Account/Logout">Sign Out</a>
</div>